<% provide(:title, "New Computer") %>
<br />
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"><strong>Current Computers</strong></div>
    <!-- Table -->
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Api Key</th>
                <th>Up time</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            <% @computers.each do |computer| %>
                <tr>
                    <td><%= link_to computer.name, computer %></td>
                    <td><%= computer.api_key %></td>
                    <td><%= display_uptime computer.uptime %></td>
                    <td>
                        <%= link_to [:edit, computer] do %>
                            <button type="button" class="btn btn-primary">Edit</button>
                        <% end %>
                        <%= link_to computer, method: :delete do %> 
                            <button type="button" class="btn btn-danger">Delete</button>
                        <% end %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>
<h2>New Computer</h2>
<%= render :partial => "form", :locals => { :computer => @new_computer, :method => :get } %>
</div>
