<% if @watchdogs.length == 0 %>
    <h1>You have no watchdogs
    <%= link_to new_watchdog_path do %>
        <button type="button" class="btn btn-primary">New watchdog</button>
    <% end %>
    </h1>
<% else %>
    <h1>Your Watchdogs
    <%= link_to new_watchdog_path do %>
        <button type="button" class="btn btn-primary">New watchdog</button>
    <% end %>
    </h1>
    <% @watchdogs.each do |watchdog| %>
        <div class="well">
            <div class="row">
                <div class="col-md-8">
                    <%= render watchdog %>
                </div>
                <div class="col-md-4">
                    <%= link_to edit_watchdog_path(watchdog.id) do %>
                        <button class="btn btn-primary" style="margin: 10px; float:right;">Edit</button>
                    <% end %>
                    <%= link_to watchdog, :method => :delete, :confirm => "Are you sure ?" do %> 
                        <button class="btn btn-danger" style="margin: 10px; float:right;">Delete</button>
                    <% end %>
                </div>
            </div>
        </div>
    <% end %>
<% end %>
